body {
	background-color: #d5d6d7;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

div.index{
	padding: 10px;
}

div.menu{
	margin-left: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 3px solid #959596;
	border-right: 3px solid #959596;
	border-bottom: 3px solid #959596;
	position: fixed;
	left: 0px;
	top: 100px;
	background-color : rgba(255,255,255,0.7);
	padding: 10px;
	font-family: kristen itc;
}

div.admin{
	margin-left: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 3px solid #959596;
	border-right: 3px solid #959596;
	border-bottom: 3px solid #959596;
	position: fixed;
	left: 0px;
	top: 250px;
	background-color : rgba(255,255,255,0.7);
	padding: 10px;
	font-family: kristen itc;
}

div.all {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 1050px;
	border: 1px solid #959596;
	border-top-left-radius: 10px;
	background-color : rgba(255,255,255,0.7);
	padding-bottom: 10px;
}

div.error {
    background-color: red;
    color: black;
    border: 1px solid #959596;
    width: 200px;
}

div.goed {
    background-color: lightgreen;
    color: black;
    border: 1px solid #959596;
    width: 200px;
}

p {
	margin-bottom: 0px;
	margin-top: 15px;
}

div.header {
	background-color: #8EBCFC;
	margin: 0px;
	border-top-left-radius: 10px;
	border-bottom: 1px solid #959596;
}

h2 {
	color: white;
	font-family: kristen itc;
	margin: 0px;
	margin-left: 850px;
	font-size: 30px;
	font-family: kristen itc;
}

img.logo {
	 height: 40px;
	 width: 40px;
	 border-top-left-radius: 10px;
	 float: left;
	 border-right: 1px solid #959596;
}

img.delete {
	 height: 20px;
	 width: 20px;
	 border-top-left-radius: 10px;
	 right: 1px solid #959596;
	 margin-right: 10px;
	 margin-top: 0px;
	 float: right;
}

img.ban {
	 height: 20px;
	 width: 20px;
	 border-top-left-radius: 10px;
	 right: 1px solid #959596;
	 margin-right: 10px;
	 margin-top: 0px;
	 float: right;
}

div.delete2 {
	display: none;
}

div.postmargin {
	margin: 10px;
}

div.left {
	width: 422px;
	padding-bottom: 10px;
	background-color : white;
	border-left: 1px solid #959596;
	border-bottom: 1px solid #959596;
	border-right: 1px solid #959596;
	padding: 10px;
	margin-left: 0px;
	float: left;
}

div.right {
	width: 584px;
	background-color : white;
	border-bottom: 1px solid #959596;
	border-right: 1px solid #959596;
	padding: 10px;
	float: right;
}

h1 {
	margin-top: 0px;
	padding-top: 10px;
	font-family: kristen itc;
}

div.post {
	border: 1px solid #959596;
	margin: 0px;
	background-color: #EBEBEB;
	padding-left: 5px;
}

div.post:hover {
	background-color: #CBCBCB;
}

textarea {
	width: 500px;
	height: 50px;
}

div.profile1 {
	margin-top: 0px;
}

div.profile2 {
	display: none;
}

img.ava {
	border: 2px solid black;
	height: 150px;
	width: 150px;
}

a.link {
	color: black;
	margin-bottom: 5px;
}

a.link:hover {
	color: red;
}

div.parent {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: auto;
	width: 500px;
}

div.comment {
	margin-left: 20px;
	margin-right: auto;
	width: 500px;
}

h3 {
	font-family: kristen itc;
}

input.submit {
	margin-top: 0px;
	width: 500px;
}

p.submit {
	margin-top: 0px;
	width: 500px;
}

table, th, td {
    border: 1px solid #959596;
    border-collapse: collapse;
}

th {
	background-color: #555555;
	color: white;

	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}

td {
	padding-left: 5px;
	padding-right: 5px;
}

div.home {
	padding: 10px;
}

input.login {
	margin-top: 10px;
	width: 170px;
}